.cardImg {
  width: 80px !important;
  height: 80px;
  border-radius: 50% !important;
  object-fit: cover;
}

.cardInfo {
  font-weight: bold;
}

.aPropos {
  display: block;
  margin-bottom: 12px;
}
